<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
<div class= "container text-center px-4">
    <div class="row">
        <div class="col-sm-12">
            <div class="card text-center">
                <div class="card-header">
                    About the App
                </div>
                <div class="card-body">
                    <h5 class="card-title">Welcome to Password Generator App</h5>
                    <p>This project is developed in Django by Kashish Chaurasia.</p>

                    <p>I have used basic django knowledge to learn how to:
                    <li style="text-align: left; width: 365px;  margin: 0 auto;">Install Django</li>
                    <li style="text-align: left; width: 365px;  margin: 0 auto;">Work with Django's URL routing</li>
                    <li style="text-align: left; width: 365px;  margin: 0 auto;">Creating Templates</li>
                    <li style="text-align: left; width: 365px;  margin: 0 auto;">Submit and handle HTML form data</li>
                    <li style="text-align: left; width: 365px;  margin: 0 auto;">Add Bootsrap to tempaltes</li></p>

                    <p >You can check the source code in below mentioned git profile.</p>
                    <i class="fa fa-git" aria-hidden="true"  style="text-align: left; width: 365px;  margin: 0 auto;"> : <a href =" https://gitlab.com/kashish10 ">/kashish10</a> </i>
                    
                </div>
                <div class="card-footer text-muted">
                    <a href = "{% url 'home' %}">Home</a>
                </div>
            </div>
        </div>
    </div>
</div>
