<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

<div class= "container text-center px-4">
    <div class="row">
        <div class="col-sm-12">
            <div class="card text-center">
                <div class="card-header">
                    Password Generator
                </div>
                <form action ="{% url 'password' %}">

                    <div class="card-body">
                        <select  name = "length">
                        <option value = "6">6 chars</option>
                        <option value = "7">7 chars</option>
                        <option value = "8">8 chars</option>
                        <option value = "9">9 chars</option>
                        <option value = "10">10 chars</option>
                        <option value = "11">11 chars</option>
                        <option value = "12" selected = "selected">12 chars</option>
                        <option value = "13">13 chars</option>
                        <option value = "14">14 chars</option>
                        </select> Length of the password
                        <br>
                        <br>
                        <input class="form-check-input"  type = "checkbox" name = "uppercase"> UpperCase
                        <input class="form-check-input"  type = "checkbox" name = "numbers"> Numbers
                        <input class="form-check-input"  type = "checkbox" name = "special"> Special Characters
                        <br>
                        <br>
                        <input type = "submit" value = "Generate Password" class = "btn btn-success">

                    </div>
                </form>
                <div class="card-footer text-muted">
                    <a href = "{% url 'about' %}">About</a>
                </div>
                   
            </div>
        </div>
    </div> 
</div>









