
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


<div class= "container text-center px-4">
    <div class="row">
        <div class="col-sm-12">
            <div class="card text-center">
                <div class="card-header">
                    Password Auto Generated
                </div>
                <div class="card-body">
                    <h5 class="card-title">Your password is :</h5>
                    <p class = "alert alert-success">{{ password }}</p>
                </div>
                <div class="card-footer text-muted">
                    <a href = "{% url 'about' %}">About</a>&nbsp;&nbsp;
                    <a href = "{% url 'home' %}">Home</a>
                </div>
            </div>
        </div>
    </div>
</div>